body {
    font-family: 'Open Sans', sans-serif;


}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 26px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.navbar {
    padding: 20px 5px;
    color: rgb(250, 69, 178);
    background-color: rgb(244, 240, 240);

    letter-spacing: 2px;
}

.navbar a {
    color: rgb(255, 0, 153);
}

.btn-link {
    letter-spacing: 2px;
    font-size: 1em;
}

.jumbotron {
    margin: 150px 0px 50px 0px;
    padding: 100px 0px 330px 0px;

    background-image: url('images/hero_christmas.png');
    background-size: 100%;
    background-repeat: no-repeat;

}

.card {
    margin: 15px;
}